.container {
    padding: 20px;
    width: 50%;
  }

  @media screen and (max-width: 600px) {
    .container {
      margin: auto;
      padding: 20px;
      width: 100%;
    }
  }

.textarea {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}